*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: url("img/bubiphone.jpg");
  background-repeat: no-repeat;
  background-size: cover; /* Add this property to make the background image cover the screen */
}

.container {
  position: relative;
  text-align: center;
  animation: floatBubble 5s infinite;
}
@keyframes floatBubble {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

#bubble {
  position: absolute;
  left: 1%;
  width: 100%;
  z-index: 1;
}

  

.chat-text {
  width: 100%;
  font-size: 0.9rem;
  position: absolute;
  top: 100%;
  left: 1%;
  /* transform: translate(-50%, -50%); */
  color: rgb(3, 1, 16);
  padding: 10%;
  font-family: "Agbalumo", sans-serif;
  opacity: 0.9;
}

.chat-text.hebrew {
  font-family: "Rubik 80s Fade", sans-serif; /* Change to "Rubik 80s Fade" */
}

.input-container {
  width: 100%;
  position: absolute;
  bottom: 1%;
  left: 0;
  transform: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.input-field {
  border: 2px solid rgb(162, 211, 232);
  border-radius: 30px;
  padding: 2%;
  box-shadow: 0 0 10px #80e7ed;
  font-size: 1rem;
  left: 7%;
  position: absolute;
  bottom: 0;
  margin: 0; /* Set margin to 0 to ensure it sticks to the bottom */
}

.button2 {
  position: absolute;
  width: 12%; /* Adjust the width to fit the button content */
  cursor: pointer;
  bottom: 1%;
  right: 10%;
}
